/src/Foundation/Companion/code/obj
/src/Foundation/Companion/code/bin
/.vs
/src/Foundation/RankingFoundry/code/obj
/packages
/src/Foundation/RankingFoundry/code/bin
/src/Foundation/RankingFoundry/code/UI/node_modules
/src/Foundation/RankingFoundry/code/UI/.cache
/src/Foundation/RankingFoundry/code/UI/dist
/src/Foundation/Alchemy/code/bin
/src/Foundation/Alchemy/code/obj
/src/Foundation/Alchemy/code/UI/.cache
/src/Foundation/Alchemy/code/UI/node_modules
/src/Foundation/Alchemy/Sitecore.Foundation.AlcehmyRules/bin
/src/Foundation/Alchemy/Sitecore.Foundation.AlcehmyRules/obj
/src/Foundation/Alchemy/Sitecore.Foundation.AlchemyBase/obj
/src/Foundation/Alchemy/Sitecore.Foundation.AlchemyBase/bin
/src/Foundation/Alchemy/code/AlcehmyRules/bin
/src/Foundation/Alchemy/code/AlcehmyRules/obj
/src/Foundation/Alchemy/code/AlchemyBase/bin
/src/Foundation/Alchemy/code/AlchemyBase/obj
/src/Foundation/Alchemy/code/AlchemyCore/obj
/src/Foundation/Alchemy/code/AlchemyCore/bin
/src/Foundation/Alchemy/code/AlchemyCore/UI/.cache
/src/Foundation/Alchemy/code/AlchemyCore/UI/node_modules
