<!--
	Project Alchemy UI Configuration

	This file configures the Companion UI elements, including: Companion dashboard (/Alchemist.aspx).
	
	This file should be removed when deploying to Content Delivery environments to remove all Companion UI elements, which are not needed in CD.

	http://github.com/kamsar/Unicorn
-->
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <settings>
      <setting name="Alchemy.uiFolderLocation" value="/UI/dist/" />
    </settings>

    <alchemy>

      <!--
				Configurations

				These define sets of configuration that Unicorn can run. For example, you might
				want to serialize certain items differently, or segregate configurations so
				that critical ones can run separately from non-essential ones to save time.

				See the README here for more information:
				https://github.com/kamsar/Unicorn/blob/master/README.md

				If you're familiar with DI and IoC containers, each configuration is effectively
				a dependency container which inherits from the global container defined in
				<defaults>.

				NOTE: Your own configurations should be defined in config patch files. See
				Unicorn.Configs.Default.example for a baseline you can make your own from.
			-->
      <configurations>

        <configuration name="Cache.Rules" description="Caching is done on a per site basis. These are the minimal requirements.">
          <rules type="Sitecore.Foundation.Alchemy.Engine.RuleEngine, Sitecore.Foundation.Alchemy" singleInstance="true">
            <alchemyRule name="IsCacheEnabled" type="Sitecore.Foundation.AlchemyRules.Cache.IsCacheEnabled, Sitecore.Foundation.AlchemyRules" Score="10" Importance="Minor" ConfigurationRole="ContentDelivery" Site="Website">
              <DefaultFailureMessage>Context Site not set</DefaultFailureMessage>
              <DefaultErrorMessage>cacheHtml attribute is not true for the selected site</DefaultErrorMessage>
              <DocumentationLink>https://sitecore.stackexchange.com/questions/409/sitecore-mvc-rendering-caches-not-working/444#444</DocumentationLink>
            </alchemyRule>

            <alchemyRule name="IsCacheSizeIncreased" type="Sitecore.Foundation.AlchemyRules.Cache.IsCacheSizeIncreased, Sitecore.Foundation.AlchemyRules" Score="10" Importance="Minor" ConfigurationRole="ContentDelivery" Site="Website">
              <DefaultFailureMessage>Context Site not set</DefaultFailureMessage>
              <DefaultErrorMessage>HTML cache size seems to small for the selected site on a CD Server.</DefaultErrorMessage>
              <DocumentationLink>https://sdn.sitecore.net/upload/sitecore7/70/cms_tuning_guide_sc70-72-a4.pdf</DocumentationLink>
            </alchemyRule>
          </rules>
        </configuration>

      </configurations>

      <authenticationProvider type="Sitecore.Foundation.Alchemy.ControlPanel.Security.LegacyAuthenticationProvider, Sitecore.Foundation.Alchemy">
      </authenticationProvider>

      <configurationProvider type="Sitecore.Foundation.Alchemy.Configuration.AlchemyConfigurationProvider, Sitecore.Foundation.Alchemy"/>

	  <alchemyRuleRepository type="Sitecore.Foundation.Alchemy.Repository.AlchemyRuleRepository, Sitecore.Foundation.Alchemy"/>

      <defaults>

        <!-- The source data store is where we read data from. Usually, this would be Sitecore. -->
        <!--
					<alchemyRuleEngine type="Sitecore.Foundation.Alchemy.Engine.RuleEngine, Sitecore.Foundation.Alchemy" singleInstance="true">-->


        <!--</alchemyRuleEngine>-->


        <!--<logger type="Unicorn.Logging.PubSubLogger, Unicorn" singleInstance="true" />-->
      </defaults>


    </alchemy>

    <pipelines>
      <httpRequestBegin>
        <!--
					This pipeline handler shows the Alchemy dashboard. You can customize the URL the control panel lives at by changing the activationUrl.
					The activationUrl must be a URL that the Sitecore pipeline won't ignore (e.g. .aspx, .ashx, etc)
				-->
        <processor patch:after="*[@type='Sitecore.Pipelines.HttpRequest.UserResolver, Sitecore.Kernel']" type="Sitecore.Foundation.Alchemy.ControlPanel.ControlPanelPipelineProcessor, Sitecore.Foundation.Alchemy">
          <param desc="activationUrl">/Alchemy</param>
          <param desc="activationSite">alchemy</param>
        </processor>
      </httpRequestBegin>
      <!--
				This 'micro-pipeline' controls the rendering of the Unicorn control panel.
				This is handy because it allows you to add new verbs or alter the appearance of the control panel.
			-->
      <AlchemyControlPanelRequest>
        <!--<processor type="Unicorn.ControlPanel.Pipelines.UnicornControlPanelRequest.ChallengeVerb, Unicorn" />
		        <processor type="Unicorn.ControlPanel.Pipelines.UnicornControlPanelRequest.SyncVerb, Unicorn" />
		        <processor type="Unicorn.ControlPanel.Pipelines.UnicornControlPanelRequest.ReserializeVerb, Unicorn" />-->
        <processor type="Sitecore.Foundation.Alchemy.ControlPanel.Pipelines.ControlPanelRequest.HandleAccessDenied, Sitecore.Foundation.Alchemy" />
        <processor type="Sitecore.Foundation.Alchemy.ControlPanel.Pipelines.ControlPanelRequest.RenderControlPanel, Sitecore.Foundation.Alchemy" />
      </AlchemyControlPanelRequest>
    </pipelines>

    <sites>
      <!-- A controlled site context to run Alchemy processes in -->
      <site name="alchemy"
            inherits="shell"
            enableItemLanguageFallback="false"
            enableFieldLanguageFallback="false"
            enforceVersionPresence="false" />
    </sites>
  </sitecore>
</configuration>
