<!--
	RankingFoundry UI Configuration

	This file configures the Companion UI elements, including: Companion dashboard (/Foundry.aspx).
	
	This file should be removed when deploying to Content Delivery environments to remove all Companion UI elements, which are not needed in CD.

	http://github.com/kamsar/Unicorn
-->
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
    <sitecore>
        <foundry>

	        <authenticationProvider type="Sitecore.Foundation.RankingFoundry.ControlPanel.Security.LegacyAuthenticationProvider, Sitecore.Foundation.RankingFoundry">
	        </authenticationProvider>

            <!--
				The configuration provider wires up how the configuration(s) Unicorn is running are parsed.
				The default provider reads values from this config section.
			-->
            <configurationProvider type="Sitecore.Foundation.RankingFoundry.Configuration.ConfigyConfigurationProvider, Sitecore.Foundation.RankingFoundry"/>

            <defaults>

                <logger type="Unicorn.Logging.PubSubLogger, Unicorn" singleInstance="true" />
            </defaults>    

            
        </foundry>

        <pipelines>
            <httpRequestBegin>
                <!--
					This pipeline handler shows the Foundry dashboard. You can customize the URL the control panel lives at by changing the activationUrl.
					The activationUrl must be a URL that the Sitecore pipeline won't ignore (e.g. .aspx, .ashx, etc)
				-->
                <processor patch:after="*[@type='Sitecore.Pipelines.HttpRequest.UserResolver, Sitecore.Kernel']" type="Sitecore.Foundation.RankingFoundry.ControlPanel.ControlPanelPipelineProcessor, Sitecore.Foundation.RankingFoundry">
                    <param desc="activationUrl">/Foundry</param>
                    <param desc="activationSite">foundry</param>
                </processor>
            </httpRequestBegin>
			<!--
				This 'micro-pipeline' controls the rendering of the Unicorn control panel.
				This is handy because it allows you to add new verbs or alter the appearance of the control panel.
			-->
	        <foundryControlPanelRequest>
		        <!--<processor type="Unicorn.ControlPanel.Pipelines.UnicornControlPanelRequest.ChallengeVerb, Unicorn" />
		        <processor type="Unicorn.ControlPanel.Pipelines.UnicornControlPanelRequest.SyncVerb, Unicorn" />
		        <processor type="Unicorn.ControlPanel.Pipelines.UnicornControlPanelRequest.ReserializeVerb, Unicorn" />-->
		        <processor type="Sitecore.Foundation.RankingFoundry.ControlPanel.Pipelines.UnicornControlPanelRequest.HandleAccessDenied, Sitecore.Foundation.RankingFoundry" />
		        <processor type="Sitecore.Foundation.RankingFoundry.ControlPanel.Pipelines.UnicornControlPanelRequest.RenderControlPanel, Sitecore.Foundation.RankingFoundry" />
	        </foundryControlPanelRequest>
        </pipelines>

        <sites>
            <!-- A controlled site context to run Foundry processes in -->
            <site name="foundry"
                  inherits="shell"
                  enableItemLanguageFallback="false"
                  enableFieldLanguageFallback="false"
                  enforceVersionPresence="false" />
        </sites>
    </sitecore>
</configuration>
