<!--
	Compaion UI Configuration

	This file configures the Companion UI elements, including: Companion dashboard (/companion.aspx).
	
	This file should be removed when deploying to Content Delivery environments to remove all Companion UI elements, which are not needed in CD.

	http://github.com/kamsar/Unicorn
-->
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
    <sitecore>
        <companion>

        </companion>

        <pipelines>
            <httpRequestBegin>
                <!--
					This pipeline handler shows the companion dashboard. You can customize the URL the control panel lives at by changing the activationUrl.
					The activationUrl must be a URL that the Sitecore pipeline won't ignore (e.g. .aspx, .ashx, etc)
				-->
                <processor patch:after="*[@type='Sitecore.Pipelines.HttpRequest.UserResolver, Sitecore.Kernel']" type="Unicorn.ControlPanel.UnicornControlPanelPipelineProcessor">
                    <param desc="activationUrl">/companion.aspx</param>
                </processor>
            </httpRequestBegin>
            
        </pipelines>

        
    </sitecore>
</configuration>
